In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
visa_df=pd.read_csv(r"C:\Users\hp\Documents\Data Science\Naresh IT\EDA with Python\Visadataset - Visadataset.csv")
visa_df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

**Standasization**

- Z-Scores
- values from -3 to 3
- z=x-mean/SD

**Normalization**

- min max scalar

**Task**

- Step:1 take prevaling_Wage column
- Step:2 Cal the mean value of prev wage
- Step:3 Cal the SD of prev wage
- Step:4 Cal the Numerator: Step1-Step2
- Step:5 Divide Step4/Step3

In [18]:
col=visa_df['prevailing_wage']
mean_col=col.mean()
std_col=col.std()
num=col-mean_col
visa_df['prev']=num/std_col
visa_df['prev']

0       -1.398510
1        0.169832
2        0.919060
3        0.169991
4        1.428576
           ...
25475    0.049923
25476    3.876083
25477    1.360253
25478    0.221504
25479   -0.067762
Name: prev, Length: 25480, dtype: float64

**Task-2**

- Compare the 2 columns 
- Get The max value and min value of the indexes
- the both indexes must match

**idxmax-idxmin**

In [19]:
maxx=visa_df['prevailing_wage'].idxmax(),visa_df['prev'].idxmax()
minn=visa_df['prevailing_wage'].idxmin(),visa_df['prev'].idxmin()

maxx,minn

((21077, 21077), (20575, 20575))

In [20]:
max_val=visa_df['prevailing_wage'].max(),visa_df['prev'].max()
min_val=visa_df['prevailing_wage'].min(),visa_df['prev'].min()

max_val,min_val

((319210.27, 4.634101837909902), (2.1367, -1.4096818992891214))

**Standard Scalar**

  - Same as Z-Score only but by using package
  - It is under sklearn package
  - In the sklearn we have preprocessing
  - Read the package
  - Save the package
  - Apply fit transform
  - Compare 3 columns
    - One is original
    - Manually we did z-score
    - column with package

In [23]:
from sklearn.preprocessing import StandardScaler

ss=StandardScaler()

visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])
visa_df['prevailing_wage_ss']

0       -1.398537
1        0.169835
2        0.919079
3        0.169994
4        1.428604
           ...
25475    0.049924
25476    3.876159
25477    1.360280
25478    0.221509
25479   -0.067763
Name: prevailing_wage_ss, Length: 25480, dtype: float64

- Single square bracket is series
- Double square bracket is Data Frame
- Whenever you see the shape error apply double square bracket

In [24]:
visa_df[['prevailing_wage','prev','prevailing_wage_ss']]

       prevailing_wage      prev  prevailing_wage_ss
0             592.2029 -1.398510           -1.398537
1           83425.6500  0.169832            0.169835
2          122996.8600  0.919060            0.919079
3           83434.0300  0.169991            0.169994
4          149907.3900  1.428576            1.428604
...                ...       ...                 ...
25475       77092.5700  0.049923            0.049924
25476      279174.7900  3.876083            3.876159
25477      146298.8500  1.360253            1.360280
25478       86154.7700  0.221504            0.221509
25479       70876.9100 -0.067762           -0.067763

[25480 rows x 3 columns]

**Normalization**